@import "../../../styles.scss";

.programmes__header {
  display: flex;
  padding: 10px 15px;
}

.programmes__header__item {
  margin: 5px;
  padding: 5px;
  flex: 1;
}

.programmes__header__item--poster {
  max-width: 100px;
}

.programmes__list__item {
  border-bottom: 1px solid $studios-tertiary-pale-grey;
  margin: 10px 15px 0 15px;
  padding-bottom: 10px;

  &:first-child {
    border-top: 1px solid $studios-tertiary-pale-grey;
    margin: 0 15px 10px 15px;
    padding-top: 10px;
  }

  &:last-child {
    border-bottom: none;
  }
}

.programmes__list__item--new {
  border: none !important;
  margin: 25px 15px 20px 15px;
}

.view-toggle {
  margin: 8px;
}

.programmes__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  width: 100%;
  max-width: 113vh;
  margin: 10px;

  .programmes__grid__card {
    border: 1px solid #cccccc;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;

    img {
      max-width: 100%;
      border-radius: 4px;
    }
  }
}
